.idea
venv
/TestResults/Rcp/*
/TestResults/ServiceOrders/*
/TestResults/Sale/*
!/TestResults/Rcp/README.md
!/TestResults/ServiceOrders/README.md
!/TestResults/Sale/README.md
!/TestResults/README.md
/Core/libs/*
/ValueStorage/*

!/ValueStorage/README.md
!/TestResults/Lease/README.md
!/TestResults/Warehouse/README.md
!/TestResults/Settings/README.md
sketch.py

TestResults/*/*.png
*/__pycache__/
*/*/__pycache__/
